<div class="expand-details">
  <fieldset>
    <dl class="dl-horizontal">
      <dt>Username :</dt>
      <dd>{{ person.username}}</dd>

      <dt>Email :</dt>
      <dd><a [href]="'mailto:'+ person.email | lowercase">{{ person.email | lowercase}}</a></dd>

      <dt>Address :</dt>
      <dd>
        <address>
          {{ person.address.street + ' ' +person.address.suite}}
          <br>
          {{ person.address.zipcode + ' ' + person.address.city}}
          <br>
          position : {{ person.address.geo.lat + ', ' + person.address.geo.lng }}
        </address>

      </dd>

      <dt>Phone :</dt>
      <dd><a [href]="'tel://'+person.email">{{ person.phone}}</a></dd>

      <dt>Website :</dt>
      <dd><a [href]="person.website" target="_blank">{{ person.website }}</a></dd>
    </dl>
  </fieldset>

  <h3>My Company: </h3>
  <h2>
    <a [href]="'//'+person.website" target="_blank">{{ person.company.name | uppercase}}</a>
    <small>{{ person.company.bs}}</small>
  </h2>
  <blockquote><em>{{ person.company.catchPhrase}}</em></blockquote>
</div>
