<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" *ngIf="person">

    <div class="hidden-xs">
      <app-person-header-alldetails [person]="person"></app-person-header-alldetails>
      <app-person-alldetails [person]="person"></app-person-alldetails>
    </div>

    <div class="hidden-lg">
      <app-person-alldetails-expandable [person]="person"></app-person-alldetails-expandable>
    </div>

  </div>
</div>


