.heading {
    background-image: url(http://via.placeholder.com/200x200);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}
.jumbotron {
    background: none;
}