<div class="row heading">
  <div class="col-md-12">
    <h1>CLICK DOC</h1>
    <div class="jumbotron">
      <div class="col-md-4">
        <h2>Organisieren Sie Ihre Gesunheits infomationen</h2>
        <small></small>
        <p>
          <a [routerLink]="['/auth/register']" class="btn btn-lg btn-success" *ngIf="displayRegisterButton()">Register</a>
          <a [routerLink]="['/auth/login']" class="btn btn-lg btn-default" *ngIf="displayLoginButton()">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>
