<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
    <form (ngSubmit)="register()" [formGroup]="registerForm">
      <div class="form-group">
        <input id="firstname"
               type="text"
               formControlName="firstname"
               class="form-control"
               placeholder="First name"
               >
          <div *ngIf="firstnameCtrl.dirty && firstnameCtrl.touched && firstnameCtrl.hasError('required')">Firstname is required</div>
          <div *ngIf="firstnameCtrl.dirty && firstnameCtrl.touched && firstnameCtrl.hasError('minlength')">Firstname is too short (3 chars min)</div>
      </div>

      <div class="form-group">
        <input id="familyname"
               type="text"
               formControlName="familyname"
               class="form-control"
               placeholder="Family name"
        >
        <div *ngIf="familynameCtrl.dirty && familynameCtrl.touched && familynameCtrl.hasError('required')">Family name is required</div>
        <div *ngIf="familynameCtrl.dirty && familynameCtrl.touched && familynameCtrl.hasError('minlength')">Family name is too short (3 chars min)</div>
      </div>

      <div class="form-group">
        <!--input id="dateOfBirth"
               type="text"
               formControlName="dateOfBirth"
               class="form-control"
               placeholder="Date of birth"

        -->
        <div class="input-group">
          <input class="form-control" type="number" placeholder="yyyy-mm-dd" name="dp2" formControlName="dateOfBirth" ngbDatepicker #d2="ngbDatepicker" required>
          <div class="input-group-addon" (click)="d2.toggle()" >
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
        </div>
        <div *ngIf="dateOfBirthCtrl.dirty && dateOfBirthCtrl.hasError('required')">Date of birth is required</div>
        <div *ngIf="dateOfBirthCtrl.dirty && dateOfBirthCtrl.hasError('tooYoung')">You're way too young to continue</div>
        <div *ngIf="dateOfBirthCtrl.dirty && dateOfBirthCtrl.hasError('invalidFormat')">This date is not well-typed</div>
      </div>

      <div class="form-group">
        <input id="email"
               type="email"
               formControlName="email"
               class="form-control"
               placeholder="Email"
        >
        <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('required')">Email is required</div>
        <div *ngIf="emailCtrl.dirty && emailCtrl.touched && emailCtrl.hasError('email')">Email is malformatted</div>
      </div>

      <div class="form-group">
        <input id="password"
               type="password"
               formControlName="password"
               class="form-control"
               placeholder="Password"
        >
        <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
        <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('minlength')">Password is too short (3 chars min)</div>
      </div>

      <button class="btn btn-primary" type="submit">Register</button>
      {{ registerForm.errors}}
    </form>
  </div>
</div>
