<section class="row">
  <div class="col-lg-6">
    <div class="clearfix"></div>
    <h3 class="section-heading">Finden und buchen  Si Ihren Wunschermin</h3>
  </div>
  <div class="col-lg-6">
    <img class="img-responsive" src="http://via.placeholder.com/400x400" alt="">
  </div>
</section>

<section class="row">
  <div class="col-lg-6">
    <img class="img-responsive" src="http://via.placeholder.com/400x400" alt="">
  </div>
  <div class="col-lg-6">
    <div class="clearfix"></div>
    <h3 class="section-heading">Greifen Sies schnell und einfach auf Ihre Gesundheitsinformationen zu</h3>
  </div>

</section>

<section class="row">
  <div class="col-lg-6">
    <div class="clearfix"></div>
    <h3 class="section-heading">Erfassen  Sie Ihre Werte, um die  Uberwachung chronisher Erkrankungen zu unterstuzen</h3>
  </div>
  <div class="col-lg-6">
    <img class="img-responsive" src="http://via.placeholder.com/400x400" alt="">        </div>
</section>
