<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
  <form (ngSubmit)="authenticate()" #loginForm="ngForm">
      <div class="form-group">
        <input id="email"
               type="email"
               class="form-control"
               placeholder="Email"
               name="email"
               [(ngModel)]="credentials.email"
               required
               #emailCtrl="ngModel">
        <div *ngIf="emailCtrl.control.dirty && emailCtrl.control.hasError('required')">Login is required</div>
      </div>

      <div class="form-group">
        <input id="password"
               class="form-control"
               placeholder="Password"
               type="password"
               name="password"
               [(ngModel)]="credentials.password"
               required
               #passwordCtrl="ngModel">
        <div *ngIf="passwordCtrl.control.dirty && passwordCtrl.control.hasError('required')">Password is required</div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Connect</button>
    </form>
  </div>
</div>
